@{
    ViewData["Title"] = "Home Page";
}
    <table class="table">
        <tr>
            <th>Países</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayName(item)
                </td>
            </tr>
        }
    </table>